@page "{roleId}"
@using TopLearn.DAL.Entities.Permissions
@model TopLearn.Web.Pages.Admin.Roles.EditRoleModel
@{
    var selectedPermissions = ViewData["selectedPermissions"] as List<int>;
    var permissions = ViewData["permissions"] as List<Permission>;
  
}





<div class="row" style="margin-top: 30px">

    <form method="post">

        <input type="hidden" asp-for="Role.RoleId" />

        <div class="col-md-8 col-lg-8 col-sm-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    تعریف نقش
                </div>
                <div class="form-group" style="margin: 10px">
                    <label>عنوان نقض</label>
                    <input asp-for="Role.Description" class="form-control">
                    <span class="text-danger" asp-validation-for="Role.Description"></span>
                </div>

                <div class="form-group" style="margin: 10px">
                    <label>نام نقش به لاتین</label>
                    <input asp-for="Role.RoleName" class="form-control">
                    <span class="text-danger" asp-validation-for="Role.RoleName"></span>
                </div>


                <div class="form-group" style="margin: 10px">

                    <input class="btn btn-success" value="ذخیره اطلاعات" type="submit">
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    دسترسی ها
                </div>
                <div class="panel-body">

                    <ul>
                        @foreach (var mainNode in permissions.Where(p => p.ParentId == null))
                        {
                            var CheckedState1 = (selectedPermissions.Any(permissionid=> permissionid == mainNode.PermissionId) ? "checked" : "");
                            <li>
                                <input @CheckedState1 type="checkbox" name="selectedPermissions" value="@mainNode.PermissionId" /> <b class="text-success">@mainNode.PermissionTitle</b>

                                @if (permissions.Any(p => p.ParentId == mainNode.PermissionId))
                                {

                                    <ul>

                                        @foreach (var subNode1 in permissions.Where(p => p.ParentId == mainNode.PermissionId).ToList())
                                        {

                                            var CheckedState2 = (selectedPermissions.Any(permissionid=> permissionid == subNode1.PermissionId) ? "checked" : "");

                                            <li>
                                      
                                                <input  @CheckedState2 type="checkbox" name="selectedPermissions" value="@subNode1.PermissionId" /> <b class="text-primary"> @subNode1.PermissionTitle</b>

                                                @if (permissions.Any(p => p.ParentId == subNode1.PermissionId))
                                                {
                                                    <ul>

                                                        @foreach (var subNode2 in permissions.Where(p => p.ParentId == subNode1.PermissionId).ToList())
                                                        {
                                                            var CheckedState3 = (selectedPermissions.Any(permissionid=> permissionid == subNode2.PermissionId) ? "checked" : "");
                                                            <li>
                                                                <input @CheckedState3 type="checkbox" name="selectedPermissions" value="@subNode2.PermissionId" /> <b class="text-danger"> @subNode2.PermissionTitle</b>
                                                            </li>
                                                        }


                                                    </ul>

                                                }

                                            </li>
                                            }

                                    </ul>

                                }


                            </li>

                        }
                    </ul>


                </div>
                <div class="panel-footer">

                </div>
            </div>
        </div>

    </form>

</div>


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />

}
