
@using Microsoft.EntityFrameworkCore
@using TopLearn.Core.Convertors
@using TopLearn.Core.Repository.Interfaces.Course
@model TopLearn.DAL.Entities.Course.Course

@inject IUserCourseService UserCourseServise

@{
    ViewData["Title"] = Model.CourseTitle;

    bool isUserInCourse = false;

    if (User.Identity.IsAuthenticated)
    {
        isUserInCourse = UserCourseServise.IsExistUserInCourse(User.Identity.Name, Model.CourseId);
    }


}


@section Meta
{
    <link rel="canonical" href="https://localhost:5001/ShowCourse/@Model.CourseId/@Model.CourseTitle.Trim().Replace(" ", "-")"/>
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"> تاپ لرن </a></li>
            <li class="breadcrumb-item active"><a href="#"> دوره ها </a></li>
            <li class="breadcrumb-item active" aria-current="page"> @Model.CourseTitle </li>
        </ul>
    </nav>
</div>

<div class="container">
    <section class="term-content">
        <header><h1> @Model.CourseTitle </h1></header>
        <div class="row">

            <div class="col-md-8 col-sm-12 col-xs-12 pull-left">
                <section class="term-description">
                    <img src="/images/Courses/@Model.CourseImageName">

                    <h2> @Model.CourseTitle</h2>
                    <p>
                        @(Html.Raw(Model.CourseDescription) )
                    </p>
                    
                    @if (!string.IsNullOrEmpty(Model.DemoFileName))
                    {
                        <video style="width: 100%" controls>
                            <source src="/images/Courses/Demo/@Model.DemoFileName"/>
                        </video>
                    }
                  

                    <h2> سرفصل های این دوره : </h2>
                    <ul>


                        @foreach (var item in Model.CourseEpisodes)
                        {
                            <li>
                                <h3>
                                    @if (item.IsFree || isUserInCourse)
                                    {
                                        <a href="/DownloadFile/@item.EpisodeId">
                                            <b>@item.EpisodeTitle</b>
                                        </a>
                                    }
                                    else
                                    {
                                        <b>@item.EpisodeTitle</b>
                                    }


                                </h3>
                                <i>

                                    @if (item.IsFree)
                                    {

                                        <span class="text text-success">رایگان</span>


                                    }
                                    else
                                    {

                                        <span class="text text-danger">نقدی</span>

                                    }


                                </i>
                                <span>@item.EpisodeTime</span>
                            </li>
                        }


                    </ul>
                </section>

                <section class="user-comments">
                    <header><h3> نظرات کاربران </h3></header>
                    <div class="inner">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <form asp-controller="Comment" asp-action="AddCommentForCourse"
                                  data-ajax="true"
                                  data-ajax-method="post"
                                  data-ajax-mode="replace"
                                  data-ajax-update="#listComment"
                                  data-ajax-success="Success">

                                <input type="hidden" name="comment.CourseId" value="@Model.CourseId" />
                                <div class="row">

                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <textarea name="comment.Comment" class="form-control" placeholder="متن نظر"></textarea>
                                        </div>

                                    </div>
                                    <div class="col-xs-12">
                                        <button type="submit" class="btn btn-success"> ثبت دیدگاه </button>
                                    </div>
                                </div>
                            </form>

                            <div class="comment-list" id="listComment">


                            </div>
                        }
                        else
                        {
                            <div class="alert alert-danger ">
                                <p class="help-block text-center">
                                    جهت درج نظر  در ابتدا باید  در وب سایت لاگین کنید
                                </p>
                            </div>
                        }



                    </div>
                </section>

            </div>

            <aside class="col-md-4 col-sm-12 col-xs-12 pull-right">
                <div class="statistics">
                    <ul>
                        <li>
                            <span> مدت دوره </span>
                            <i> @(new TimeSpan(Model.CourseEpisodes.Sum(e=>e.EpisodeTime.Ticks)))  </i>
                        </li>
                        <li>
                            <span> تعداد ویدیوها </span>
                            <i> @Model.CourseEpisodes.Count() </i>
                        </li>
                        <li>
                            <span> تعداد دانشجوها </span>

                            <i>@Model.UserCourses.Count نفر </i>
                        </li>
                    </ul>
                    @if (!User.Identity.IsAuthenticated || !isUserInCourse)
                    {
                        <a href="/UserPanel/Order/AddOrder/@Model.CourseId">
                            شرکت در دوره :

                            @if (Model.CoursePrice == 0)
                            {
                                <span>رایگان</span>
                            }
                            else
                            {
                                @Model.CoursePrice.ToString("#,0 تومان")
                            }


                        </a>
                    }

                </div>

                <article class="teacher-info">
                    <img src="/images/Users/UserAvatar/@Model.User.UserAvatar">
                    <h2> مدرس : @Model.User.FullName </h2>

                </article>

                <article class="term-info">
                    <h2> اطلاعات این دوره </h2>
                    <ul>
                        <li>سطح دوره: @Model.CourseLevel.LevelTitle</li>
                        <li>وضعیت دوره: @Model.CourseStatus.StatusTitle</li>
                        <li>قیمت :  @Model.CoursePrice.ToString("#,0") تومان</li>
                        <li>تاریخ ثبت این دوره : @Model.CreateDate.MiladiToShamsi() </li>
                        @if (Model.UpdateDate != null)
                        {
                            <li>آخرین بروزرسانی دوره : @Model.UpdateDate?.MiladiToShamsi() </li>
                        }
                     

                    </ul>
                </article>
                
                <div class="term-info" >
                    <ul>
                        <li>
                            آدرس کوتاه : <a style="margin-right: 20px" class="btn btn-info" href="https://localhost:5001/c/@Model.ShortKey">localhost:5001/c/@Model.ShortKey</a>
                        </li>
                    </ul>
                   
                </div>

                <div class="share-layer">
                    <span> به اشتراک گذاری </span>
                    <a href=""><i class="zmdi zmdi-facebook"></i></a>
                    <a href=""><i class="zmdi zmdi-google-old"></i></a>
                    <a href=""><i class="zmdi zmdi-twitter"></i></a>
                    <a href=""><i class="zmdi zmdi-linkedin"></i></a>
                </div>
                


                <div class="tags-layer">
                    @foreach (var item in Model.Tags.Split("-").ToList())
                    {
                        <a href="/Course/Index?filter=@item"> @item </a>
                    }


                </div>

            </aside>
        </div>
    </section>
</div>


@section Scripts
{

    <script type="text/javascript" src="/js/jquery.unobtrusive-ajax.min.js"></script>

    <script>
        function Success() {
            $("#comment_Comment").val("");

            $("#listComment").load("/Comment/ShowCourseComments/" + @Model.CourseId);
        }

        $(function() {
            $("#listComment").load("/Comment/ShowCourseComments/" + @Model.CourseId);
        });

        @*function pageComment(pageid) {
            $("#listComment").load("/Comment/ShowCourseComments/" + @Model.CourseId+"?pageId="+ pageid);
        }*@


    </script>

}
